.tabela{
	width:100%!important;
	margin:0 auto!important;
}

.padding-tabela{
	padding-left: 8em;
}

#titulo_listar{
	text-align:center;
}

/* Menu Lateral */
body,html{
	height: calc(100% - 25px);
}

nav.sidebar, .main{
	border-left: none;
	border-right: solid;
	border-image:
	linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(11,88,183,1) 28%, rgba(11,88,183,1) 74%, rgba(255,255,255,1) 100%) 1 100%;
}

@media (max-width: 767px) {
	nav.sidebar{
		border: none;
	}
	
	nav.sidebar a{
		font-size: 18px;
		text-align: center;
	}

	.padding-tabela{
		padding-left: 0em;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.content{
		padding-left: 10px;
	}
}

@media (min-width: 768px) {
	nav.sidebar .navbar-nav > li:first-child{
		border-top: 1px #e5e5e5 solid;
	}

	nav.sidebar .navbar-nav > li{
		border-bottom: 1px #e5e5e5 solid;
	}

	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}

	nav.sidebar{
		width: 200px;
		min-height: 100% !important;
		float: left;
		margin-bottom: 0px;
	}

	nav.sidebar li {
		width: 100%;
	}

	.container {
		min-height: calc(100% - 112px);
	}
}

@media (min-width: 992px) {
	.container {
		width: calc(100% - 190px) !important;
	}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #CCC;
	background-color: transparent;
}

/* Footer */
.container {
	min-height: calc(100% - 62px);
}

.content {
	overflow:auto;
	padding: 0px 0px 50px 10px !important;
}

/* CAMPO DE PESQUISA DE FORMULARIO */
#pesquisar{
	margin-top:10px;
	margin-bottom:60px;
}

.style_input .input-group-addon{
	background: white !important; 
}

.style_input .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.style_input button{
	border:0;
	background:transparent;
}

.input-group-addon span i{
	color:#ccc;
}

.input-group-addon span i:hover{
	color:#636363;
}

/* FIM CAMPO DE PESQUISA */

footer {
	position: relative;
	margin-top: -30px;
	height: 50px;
	clear:both;
	background-color: #535353;
	color: #E9E9E9;
}